<div class="gm-task-field" layout="column" flex>
    <div layout="row" layout-align="start center">
        <div
            layout="column"
            layout-align="start center"
            flex="25" 
            ng-repeat="prop in field.properties">
            <span class="field-label">{{ prop.label }}</span>
            <div layout="row" layout-align="start center">
                <md-input-container class="task-field-amount">
                    <label>Amount</label>
                    <input type="number" step="1" 
                        required
                        ng-disabled="isDisabled"
                        aria-label="{{ prop.label }} amount"
                        ng-model="prop.amount">
                </md-input-container>
                <span class="field-text">{{ prop.measure }}</span>
            </div>
        </div>
    </div>
    <p ng-if="field.description" class="field-text">{{ field.description }}</p>
</div>
