<md-dialog aria-label="Create a user" flex="60">
    <form name="form" ng-submit="form.$valid && changePassword()" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Create/update user</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content layout="column">
            <div class="md-dialog-content" layout="row">
                <md-input-container flex>
                    <label>Password</label>
                    <input type="password" required ng-model="new_password">
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()" class="md-secondary">Cancel</md-button>
            <span flex></span>
            <md-button type="submit" class="md-primary">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
