<div layout-gt-xs="row" layout-xs="column" class="no-padding" layout-fill>
    <md-list flex-gt-xs="25" class="configuration-nav sub-nav">
        <div ng-repeat="group in availableConfigs">
            <md-subheader>{{ group.name }}</md-subheader>
            <md-list-item
                class="no-margin"
                ng-if="item.show"
                ui-sref-active="selected"
                ng-repeat="item in group.sections"
                ui-sref="app.configuration.section({sectionName: item.ctrl})">
                {{ item.name }}
                <span flex></span>
                <md-icon>chevron_right</md-icon>
            </md-list-item>
        </div>
    </md-list>
    <div flex ui-view="configuration-section">
        <div class="padded" layout-align="center center" layout="column" layout-fill>
            <md-icon class="holding-page-icon">settings</md-icon>
        </div>
    </div>
</div>
