<md-dialog aria-label="Create a group"  flex="100" flex-gt-xs="80" flex-gt-md="60">
    <form name="form" ng-submit="form.$valid && save()" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Create/update group</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="task" layout="column">
            <div class="md-dialog-content" layout="column">
                <md-input-container flex>
                    <label>Name</label>
                    <input md-maxlength="255"
                        required ng-model="group.name">
                </md-input-container>
                <md-autocomplete
                    flex
                    md-selected-item="selectedItem"
                    md-search-text="itemSearchText"
                    md-items="item in getItems(itemSearchText)"
                    md-item-text="item.name"
                    md-selected-item-change="setGroup()"
                    md-select-on-match
                    md-min-length="0"
                    md-floating-label="Select a group to inherit permissions from">
                    <md-item-template>
                        <span md-highlight-text="itemSearchText">
                            {{ item.name }}
                        </span>
                    </md-item-template>
                </md-autocomplete>
                <!--
                <gm-multi-select
                    ng-show="!selectedItem"
                    available="permissions"
                    selected="group.permissions"
                    selected-label="Selected permissions"
                    available-label="Available permissions">
                </gm-multi-select>
                -->
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()" class="md-secondary">Cancel</md-button>
            <span flex></span>
            <md-button type="submit" class="md-primary">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
