<md-dialog aria-label="Create a user"  flex="100" flex-gt-xs="80" flex-gt-md="60">
    <form name="form" ng-submit="form.$valid && save()" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Create/update user</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="task" layout="column">
            <div class="md-dialog-content">
                <div layout="row">
                    <div layout="column" flex>
                        <md-input-container flex>
                            <label>Username</label>
                            <input md-maxlength="30"
                                required ng-model="user.username">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Email</label>
                            <input type="email" required ng-model="user.email">
                        </md-input-container>
                        <md-input-container flex ng-show="!user.id">
                            <label>Password</label>
                            <input type="password" 
                                ng-required="!user.id"
                                ng-model="user.password">
                        </md-input-container>
                        <md-input-container flex>
                            <label>First name</label>
                            <input ng-model="user.first_name" md-maxlength="30">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Last name</label>
                            <input ng-model="user.last_name" md-maxlength="30">
                        </md-input-container>
                    </div>
                    <div layout="column" flex class="left-padded">
                        <md-input-container>
                            <label>Group to add</label>
                            <md-select ng-model="selectedItem" md-on-close="addGroup()">
                                <md-option ng-value="item" ng-repeat="item in groups">
                                    {{ item.name }}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-list>
                            <md-subheader>Groups part of</md-subheader>
                            <md-list-item ng-repeat="g in user.groups">
                                <md-list-item-text>
                                    {{ g }}
                                </md-list-item-text>
                                <md-button class="md-icon-button md-secondary"
                                    ng-click="removeGroup(g)">
                                    <md-icon>remove_circle</md-icon>
                                </md-button>
                            </md-list-item>
                        </md-list>
                    </div>
                </div>
                <div ng-if="crmEnabled">
                    <h3 class="subsection-header">CRM details</h3>
                    <div layout="row" ng-show="user.crmaccount">
                        <div flex>
                            <span><b>Account:</b> {{ user.crmaccount.account_name }}</span>
                            <div layout="row">
                                <md-button flex href="{{ user.crmaccount.contact_url }}">Contact details</md-button>
                                <md-button flex href="{{ user.crmaccount.account_url }}">Account details</md-button>
                            </div>
                        </div>
                        <div layout-align="center center">
                            <md-button ng-click="removeCRMAccount()">Remove account</md-button>
                        </div>
                    </div>
                    <md-button ng-show="!user.crmaccount" ng-click="addCRMAccount()">Add CRM Account</md-button>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()" class="md-secondary">Cancel</md-button>
            <span flex></span>
            <md-button type="submit" class="md-primary">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
