<md-dialog aria-label="Create equipment" flex="60">
    <form name="form" ng-submit="form.$valid && save()" novalidate>
        <md-toolbar class="md-accent">
            <div class="md-toolbar-tools">
                <h2>Create/update equipment</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="task" layout="column">
            <div class="md-dialog-content" layout="column">
                <md-input-container flex>
                    <label>Name</label>
                    <input md-maxlength="255"
                        required ng-model="equipment.name">
                </md-input-container>
                <md-input-container flex>
                    <label>Location</label>
                    <md-select ng-model="equipment.location">
                        <md-option ng-repeat="l in locations"
                            ng-value="l.code">
                            {{ l.display_name }}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <md-checkbox ng-model="equipment.can_reserve">
                        Can place reservation
                    </md-checkbox>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()" class="md-secondary">Cancel</md-button>
            <span flex></span>
            <md-button type="submit" class="md-primary">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
