<md-dialog aria-label="Create a workflow template" flex="50">
    <form ng-submit="save()" novalidate>
        <md-toolbar class="md-primary">
            <div class="md-toolbar-tools">
                <h2>Create a new workflow template</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="task" layout="column">
            <div class="md-dialog-content" layout="column">
                <md-input-container flex>
                    <label>Name of template</label>
                    <input required ng-model="workflow.name">
                </md-input-container>
                <div layout="row" layout="start center">
                    <md-autocomplete 
                        flex
                        md-selected-item="selectedTask"
                        md-search-text="taskSearchText"
                        md-items="task in queryTasks(taskSearchText)"
                        md-item-text="task.name"
                        md-selected-item-change="addTask()"
                        md-select-on-match
                        md-min-length="0"
                        md-floating-label="Select task to add">
                        <md-item-template>
                            <span md-highlight-text="tasksSearchText">
                                {{ task.name }} ({{ task.created_by }})
                            </span>
                        </md-item-template>
                    </md-autocomplete>
                </div>
                <md-list ui-sortable ng-model="order">
                    <md-list-item 
                        class="md-3-line"
                        ng-repeat="item in order track by $index"> 
                        <md-icon class="md-avatar-icon">storage</md-icon>
                        <div class="md-list-item-text">
                            <h3>{{ item.name }}</h3>
                            <h4>{{ item.created_by }}</h4>
                            <p>{{ item.date_created|date:"medium" }}</p>
                        </div>
                        <md-button class="md-icon-button md-secondary"
                            ng-click="removeTask($index)">
                            <md-icon>remove_circle</md-icon>
                        </md-button>

                    </md-list-item>
                </md-list>
                <gtl-permissions-widget input-data="workflow"></gtl-permissions-widget>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()" class="md-secondary">Cancel</md-button>
            <span flex></span>
            <md-button type="submit" class="md-primary">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
