<md-toolbar class="md-primary md-hue-1 no-padding">
    <div class="md-toolbar-tools">
        <md-button ng-click="createUser()">
            <md-icon>add</md-icon>
            Create a user
        </md-button>
        <span flex></span>
        <md-menu>
            <md-button aria-label="Table actions"
                class="md-icon-button"
                ng-click="$mdOpenMenu($event)">
                <md-icon md-menu-origin>more_vert</md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button
                        aria-label="Link a CRM account"
                        ng-disabled="selected.length == 0"
                        ng-click="linkUserCRM(selected)">
                        <md-icon md-menu-align-target>add</md-icon>
                        Add CRM account
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button
                        aria-label="Update CRM account"
                        ng-disabled="selected.length == 0"
                        ng-click="refreshUserCRM(selected)">
                        <md-icon md-menu-align-target>refresh</md-icon>
                        Update CRM account
                    </md-button>
                </md-menu-item>
                <md-divider></md-divider>
                <md-menu-item>
                    <md-button
                        ng-disabled="selected.length == 0"
                        ng-click="deleteItems(selected)">
                        <md-icon md-menu-align-target>delete</md-icon>
                        Delete Item(s)
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>
<md-card>
    <md-table-toolbar>
        <div class="md-toolbar-tools">
            <span>Users</span>
            <span flex></span>
            <md-input-container class="md-body-1 toolbar-input">
                <md-icon>search</md-icon>
                <input aria-label="search users"
                    type="search" ng-model="search">
            </md-input-container>
        </div>
    </md-table-toolbar>
    <md-table-container>
        <table md-table md-row-select ng-model="selected">
            <thead md-head md-order="query.ordering" md-on-redorder="onSortItems">
                <tr md-row>
                    <th md-column md-order-by="name">Name</th>
                    <th md-column md-order-by="email">Email</th>
                    <th md-column>CRM account</th>
                    <th md-column></th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row md-select="item" ng-repeat="item in users">
                    <td md-cell>{{ item.username }}</td>
                    <td md-cell>{{ item.email }}</td>
                    <td md-cell>
                        <b>{{ item.crmaccount.user.first_name }}&nbsp;
                           {{ item.crmaccount.user.last_name }}</b><br>
                        {{ item.crmaccount.account_name }}<br>
                    </td>
                    <td md-cell layout="row" layout-align="end">
                        <md-button class="md-icon-button"
                            aria-label="Edit item"
                            ng-click="changePassword(item.id)">
                            <md-icon>vpn_key</md-icon>
                        </md-button>
                        <md-button class="md-icon-button"
                            aria-label="Edit item"
                            ng-click="editItem(item.id)">
                            <md-icon>edit</md-icon>
                        </md-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
    <md-table-pagination md-limit="query.limit" md-page="users.meta.current"
        md-options="[10,20,50,100]"
        md-on-paginate="onPaginateItems"
        md-total="{{ users.meta.count }}" md-page-select>
    </md-table-pagination>
</md-card>
