<md-dialog aria-label="Create a new product" flex="100" flex-gt-xs="80" flex-gt-md="60">
    <form name="form" ng-submit="form.$valid && create()" novalidate>
        <md-toolbar class="md-primary">
            <div class="md-toolbar-tools">
                <h2>Create a new product</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="md-dialog-content" layout="row">
            <div flex layout="column">
                <md-input-container>
                    <label>Name</label>
                    <input ng-model="product.name" required>
                </md-input-container>
                <md-input-container>
                    <label>Product status</label>
                    <md-select ng-model="product.status"
                        aria-label="Product status" required>
                        <md-option ng-repeat="status in productstatuses"
                                   ng-value="status.name">
                            {{ status.name }}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>Product type</label>
                    <md-select ng-model="product.product_type" required>
                        <md-option ng-repeat="item in productTypes"
                                   ng-value="item.name">
                            {{ item.display_name }}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>Optimised for</label>
                    <md-select ng-model="product.optimised_for"
                        aria-label="Optimised for">
                        <md-option></md-option>
                        <md-option ng-repeat="org in organisms" ng-value="org.name">
                            {{ org.name }}</md-option>
                    </md-select>
                </md-input-container>
                <h4 class="section-subheader">Product Design</h4>
                <div layout="row" layout-align="center center">
                    <md-input-container flex>
                        <label>Product design format</label>
                        <md-select ng-model="product.design_format">
                            <md-option disabled>SBOL</md-option>
                            <md-option value="gb">GenBank</md-option>
                            <md-option value="csv">CSV</md-option>
                        </md-select>
                    </md-input-container>
                    <div flex>
                        <md-button 
                            aria-label="Select a design file"
                            ngf-select
                            ng-model="design_file">
                            Choose file
                        </md-button>
                        {{ design_file.name }}
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">Cancel</md-button>
            <span flex></span>
            <md-button type="submit" class="md-primary">Create</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
