<md-dialog aria-label="Create new project" flex="60">
    <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
            <h2>
                {{ product.product_identifier }}: {{ product.name }} History
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content" layout="column">
            <md-card ng-repeat="entry in product.data">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">
                            {{ entry.run }}: {{ entry.task }}
                        </span>
                        <span class="md-subhead" layout="row">
                            <span flex>{{ entry.date_created|date:"medium" }}</span>
                            <span flex>{{ entry.state }}</span>
                        </span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>{{ entry.run }}</p>
                </md-card-content>
            </md-card>
        </div>
    </md-dialog-content>
</md-dialog>
