<div layout="column" layout-fill flex class="no-padding">
    <md-toolbar class="md-primary md-hue-1">
        <div class="md-toolbar-tools">
            <md-button ng-click="createProduct(project.id)">
                <md-icon md-svg-icon="alt:package"></md-icon>
                Create product
            </md-button>
            <md-button ng-click="importProducts(project.id)">
                <md-icon md-svg-icon="alt:package-down"></md-icon>
                Import products
            </md-button>
            <span flex></span>
            <md-menu>
                <md-button aria-label="Open product options menu"
                    class="md-icon-button"
                    ng-click="$mdOpenMenu()">
                    <md-icon md-menu-origin>more_horiz</md-icon>
                </md-button>
                <md-menu-content>
                    <md-menu-item>
                        <md-button ng-disabled="selected.length == 0"
                            ng-click="deleteProduct(currentProductId)">
                            <md-icon md-menu-align-target>
                                delete_sweep</md-icon>
                            Delete selected
                        </md-button>
                    </md-menu-item>
                    <md-divider></md-divider>
                    <md-menu-item>
                        <md-button ng-click="setArchiveStatus()">
                            <md-icon ng-if="project.archive"
                                md-menu-align-target>check_box</md-icon>
                            <md-icon ng-if="!project.archive"
                                md-menu-align-target>check_box_outline_blank</md-icon>
                            Archive project
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="deleteProject()"
                            class="md-warn">
                            <md-icon md-menu-align-target>
                                delete</md-icon>
                            Delete project
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>
    <div layout="row" flex>
        <div layout="column" flex="30" class="side-padded top-padded coloured-section">
            <md-input-container class="read-only">
                <label>Date started</label>
                <input disabled value="{{ project.date_started|date:'medium' }}">
            </md-input-container>
            <md-input-container>
                <label>Name</label>
                <input required ng-model="project.name">
            </md-input-container>
            <md-input-container>
                <label>Description</label>
                <textarea ng-model="project.description"></textarea>
            </md-input-container>
            <md-input-container>
                <label>Primary lab contact</label>
                <md-select ng-model="project.primary_lab_contact">
                    <md-option ng-repeat="member in staff"
                        ng-value="member.username">{{ member.username }}</md-option>
                </md-select>
            </md-input-container>
            <div ng-if="crmEnabled">
                <h3 layout="row" layout-align="start center"
                    class="section-subheader">
                    CRM details
                    <span flex></span>
                    <md-button class="md-icon-button"
                        ng-show="project.crm_project"
                        ng-click="linkCRM()">
                        <md-icon>edit</md-icon>
                    </md-button>
                </h3>
                <div ng-if="project.crm_project">
                    <p><b>{{ project.crm_project.name }}</b></p>
                    <p>{{ project.crm_project.account.user.first_name }} {{ project.crm_project.account.user.last_name }}</p>
                    <p>{{ project.crm_project.account.account_name }}</p>
                    <div layout="row">
                        <md-button
                            flex
                            href="{{ project.crm_project.project_url }}">
                            View on CRM system
                        </md-button>
                    </div>
                </div>
                <md-button
                    ng-show="!project.crm_project"
                    ng-click="linkCRM()">
                    Link to CRM project
                </md-button>
            </div>
            <h3 class="section-subheader">External Links</h3>
            <md-list class="md-dense">
                <md-list-item
                     ng-repeat="link in project.links"
                     ng-show="link.url"
                     ng-href="{{ link.url }}">
                    <div class="md-list-item-text" ng-if="link.url">
                        <md-icon>link</md-icon>
                        <span ng-if="link.display_name">{{ link.display_name }}</span>
                        <span ng-if="!link.display_name">{{ link.url }}</span>
                    </div>
                    <md-button
                        ng-click="removeExternalLink($index)"
                        class="md-icon-button md-secondary">
                        <md-icon>remove_circle</md-icon>
                    </md-button>
                </md-list-item>
            </md-list>
            <md-button
                ng-click="addExternalLink()">
                Add an external link
            </md-button>
            <gtl-permissions-widget input-data="project">
            </gtl-permissions-widget>
        </div>
        <div flex>
            <div ui-view="product"
                layout="column"
                flex>
                <h3 class="side-padded section-subheader">Products</h3>
                <md-card layout="column">
                    <md-table-container>
                        <table md-table md-row-select ng-model="selected">
                            <thead md-head md-order="query.ordering" md-on-reorder="onSortItems">
                                <tr md-row>
                                    <th md-column md-order-by="id">Identifier</th>
                                    <th md-column md-order-by="name">Name</th>
                                    <th md-column md-order-by="status">Status</th>
                                    <th md-column md-order-by="product_type">Type</th>
                                    <th md-column md-order-by="created_by">Created by</th>
                                    <th md-column>On run?</th>
                                </tr>
                            </thead>
                            <tbody md-body>
                                <tr md-row md-select="item" ng-repeat="item in products"
                                    ui-sref="product_details({id: project.id, productId: item.id})">
                                    <td md-cell>{{ item.product_identifier }}</td>
                                    <td md-cell><b>{{ item.name }}</b></td>
                                    <td md-cell>{{ item.status }}</td>
                                    <td md-cell>{{ item.product_type }}</td>
                                    <td md-cell>{{ item.created_by }}</td>
                                    <td md-cell>
                                        <md-icon ng-show="item.on_run">check_circle</md-icon>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </md-table-container>
                    <md-table-pagination md-limit="query.limit" md-page="products.meta.current"
                        md-options="[10,20,50,100]"
                        md-on-paginate="onPaginateItems"
                        md-total="{{ products.meta.count }}" md-page-select>
                    </md-table-pagination>
                </md-card>
            </div>
        </div>
    </div>
</div>
