<md-dialog aria-label="Restock item" flex="80">
    <form name="form" ng-submit="form.$valid && add()" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add item</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content layout="column" layout-padding>
            <div layout="row" class="no-padding">
                <md-input-container flex>
                    <label>Name</label>
                    <input required name="name" ng-model="item.name">
                    <div ng-messages="form.name.$invalid">
                        <div ng-message="required">A name is required</div>
                    </div>
                </md-input-container>
                <md-autocomplete
                    flex
                    required
                    md-selected-item="selectedItemType"
                    md-search-text="searchItemText"
                    md-items="itm in searchItemTypes(searchItemText)"
                    md-item-text="itm.name"
                    md-selected-item-change="setIncludeUrl(itm)"
                    md-select-on-match
                    md-min-length="0"
                    md-floating-label="Type of item">
                    <span md-highlight-text="searchText">{{ itm.display_name }}</span>
                </md-autocomplete>
            </div>
            <div layout="row" class="no-padding">
                <div flex="50" layout="column">
                    <md-input-container>
                        <label>Identifier</label>
                        <input ng-model="item.identifier" required>
                    </md-input-container>
                    <div layout="row">
                        <md-input-container>
                            <label>Amount</label>
                            <input required type="number" 
                                ng-model="item.amount_available">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Measure</label>
                            <md-select required ng-model="item.amount_measure">
                                <md-option ng-repeat="measure in measures"
                                    ng-value="measure.symbol">
                                    {{ measure.name }} ({{ measure.symbol }})
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <md-input-container flex>
                        <label>Location</label>
                        <md-select required ng-model="item.location">
                            <md-option ng-repeat="location in locations"
                                ng-value="location.code">
                                {{ location.display_name }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout="column" flex>
                    <md-input-container>
                        <label>Description</label>
                        <textarea ng-model="item.description"></textarea>
                    </md-input-container>
                    <md-chips ng-model="item.tags" md-autocomplete-snap
                        md-transform-chip="makeChip($chip)">
                        <md-autocomplete
                            md-selected-item="selectedTag"
                            md-search-text="searchText"
                            md-items="tag in tags"
                            md-item-text="tag.name"
                            md-floating-label="Tag this item">
                            <span md-highlight-text="searchText">{{ tag.name }}</span>
                        </md-autocomplete>
                        <md-chip-template>
                            <span>{{ $chip.name }}</span>
                        </md-chip-template>
                    </md-chips>
                    <h4>Properties</h4>
                    <div layout="row" layout-align="start center" 
                        ng-repeat="prop in item.properties">
                        <md-input-container flex>
                            <label>Name</label>
                            <input ng-model="prop.name" required>
                        </md-input-container>
                        <md-input-container flex>
                            <label>Value</label>
                            <input ng-model="prop.value" required>
                        </md-input-container>
                        <md-button class="md-icon-button"
                            ng-click="removeProperty($index)">
                            <md-icon>delete</md-icon>
                        </md-button>
                    </div>
                    <md-button ng-click="addProperty()">
                        Add property
                    </md-button>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button ng-click="cancel()">Cancel</md-button>
            <span flex></span>
            <md-button type="submit" class="md-primary">Add</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
