<md-input-container >
    <label>Cut sequence</label>
    <input ng-model="item.cut_sequence">
</md-input-container>
<md-input-container >
    <label>Recognition sequence</label>
    <input ng-model="item.recognition_sequence">
</md-input-container>
<md-input-container >
    <label>Effective length</label>
    <input ng-model="item.effective_length" type="number">
</md-input-container>
<md-input-container >
    <label>Overhang</label>
    <input ng-model="item.overhang">
</md-input-container>
<md-input-container >
    <label>Methlyation sensitivity</label>
    <input ng-model="item.methylation_sensitivity">
</md-input-container>
