<md-dialog aria-label="Restock items" flex="50">
    <form name="form" ng-submit="form.$valid && add()" novalidate>
        <md-toolbar class="md-accent">
            <div class="md-toolbar-tools">
                <h2>Add items from file</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content layout="column">
            <div layout="row" layout-align="start center"
                class="md-dialog-content"> 
                <span flex>{{ items_file.name || 'No file selected' }}</span>
                <md-button 
                    ngf-select
                    ng-model="items_file">
                    Choose file
                </md-button>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button ng-click="cancel()">Cancel</md-button>
            <span flex></span>
            <md-button type="submit" class="md-primary">Add</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
