<md-input-container >
    <label>Reference</label>
    <input ng-model="item.reference" required>
</md-input-container>
<md-input-container >
    <label>Primer sequence</label>
    <input required ng-model="item.primer_sequence">
</md-input-container>
<md-input-container >
    <label>Product</label>
    <input ng-model="item.product">
</md-input-container>
<md-input-container >
    <label>Purification</label>
    <input ng-model="item.purification">
</md-input-container>
<md-input-container >
    <label>GC content</label>
    <input ng-model="item.gc_content" type="number">
</md-input-container>
<md-input-container >
    <label>TM/C</label>
    <input ng-model="item.tm_c" type="number">
</md-input-container>
<md-input-container >
    <label>TM/C</label>
    <input ng-model="item.tm_c" type="number">
</md-input-container>
<md-input-container >
    <label>nmoles</label>
    <input ng-model="item.nmoles" type="number">
</md-input-container>
<md-input-container >
    <label>Modifications and service</label>
    <input ng-model="item.modifications_and_services">
</md-input-container>
<md-input-container >
    <label>nmoles/od</label>
    <input ng-model="item.nmoles_od" type="number">
</md-input-container>
<md-input-container >
    <label>microg/od</label>
    <input ng-model="item.microg_od" type="number">
</md-input-container>
<md-input-container >
    <label>Bases</label>
    <input ng-model="item.bases">
</md-input-container>
