<md-dialog aria-label="Change equipment status">
    <form ng-submit="change()" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Change equipment status</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="md-dialog-content" layout="column">
            <md-select ng-model="equipment.status">
                <md-option 
                    ng-repeat="(code,status) in equipment_statuses"
                    ng-value="code">{{ status }}</md-option>
            </md-select>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">Cancel</md-button>
            <md-button type="submit" class="md-primary">Change</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
