<md-toolbar class="md-primary md-hue-1">
    <div class="md-toolbar-tools">
        <md-button ng-click="refreshQuotes()" ng-if="crmEnabled">
            <md-icon>refresh</md-icon>
            Refresh quote information
        </md-button>
        <span flex></span>
        <md-button ng-click="delete()">Delete</md-button>
    </div>
</md-toolbar>
<div layout-padding>

    <div ng-if="crmEnabled" class="no-padding">
        <h3 class="section-subheader">Quotes</h3>

        <md-card>
            <md-table-container>
                <table md-table>
                    <thead md-head>
                        <tr md-row>
                            <th md-column>Number</th>
                            <th md-column>Name</th>
                            <th md-column>Subtotal</th>
                            <th md-column>Discount</th>
                            <th md-column>Total</th>
                            <th md-column></th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row ng-repeat="item in order.crm.quotes">
                            <td md-cell>{{ item.quote_number }}</td>
                            <td md-cell><b>{{ item.quote_name }}</b></td>
                            <td md-cell>£{{ item.subtotal }}</td>
                            <td md-cell>£{{ item.discount }}</td>
                            <td md-cell>£{{ item.total }}</td>
                            <td md-cell>
                                <md-button href="{{ item.quote_url }}">
                                    View on CRM
                                </md-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
            <md-button
                href="{{ order.crm.project_url }}">
                View project on CRM system
            </md-button>
        </md-card>
    </div>

    <h3 class="section-subheader">Summary</h3>

    <md-card>
        <md-card-content>
            <div layout="row" class="bottom-padded">
                <span flex>
                    <b>Date placed:</b> {{ order.date_placed|date:"short" }}
                </span>
                <span flex>
                    <b>Date updated:</b> {{ order.date_updated|date:"short" }}
                </span>
            </div>
            <div ng-repeat="(section_name, section) in order.data"
                 ng-if="isList(section)" class="top-padded">
                <h4 class="section-subheader">
                    {{ section_name }}
                </h4>
                <div ng-repeat="item in section" ng-if="item.label" layout="row" class="order-item">
                    <span flex>{{ item.label }}</span>
                    <span ng-if="item.perBase">{{ item.amount }}bp @</span>
                    <span ng-if="!item.perBase">{{ item.amount }} @</span>
                    <span>&nbsp;£{{ item.cost|number:2 }}</span>
                </div>
            </div>
        </md-card-content>
    </md-card>

    <h3 class="section-subheader">Order Detail</h3>

    <md-card>
        <md-card-content>
            <div ng-repeat="(section_name, section) in order.data" ng-if="isList(section)">
                <div ng-repeat="item in section" ng-if="item.label" class="order-item">
					<h4 class="section-subheader">
						{{ section_name }}: {{ item.label }}
					</h4>
                    <div ng-repeat="(key, value) in item" layout="row" class="order-item-detail">
                        <b flex="25">{{ key }}</b>
                        <div flex
                             layout="column"
                             ng-if="isList(value)"
                             gtl-sub-value
                             data="value">
                        </div>
                        <span flex
                              ng-if="!isList(value)"
                              class="order-item-value">{{ value }}</span>
                    </div>
                </div>
            </div>
        </md-card-content>
    </md-card>

</div>
