<md-dialog aria-label="Task" flex="95">
    <md-toolbar> 
        <div class="md-toolbar-tools">
            <h2>Monitoring: {{ task_name }}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="task" layout="column">
        <div class="dialog-error-message" ng-if="errorMessage">{{ errorMessage }}</div>
        <md-tabs md-dynamic-height md-border-bottom md-selected="taskPaneSelected">
            <md-tab label="Task values">
                <md-content class="md-dialog-content" layout="row">
                    <div flex="30" class="right-padded">
                        <v-accordion class="vAccordion--default" multiple>
                            <v-pane expanded>
                                <v-pane-header>Inputs</v-pane-header>
                                <v-pane-content>
                                    <div layout="column">
                                        <div class="task-field-container bottom-margin">
                                            <span class="field-label primary-label">Input items from products</span>
                                            <div layout="row" class="input-item" layout-align="start center"
                                                ng-repeat="(pid, product) in task.product_inputs" >
                                                <span class="input-amount">
                                                    {{ product.amount }} {{ product.measure }}
                                                </span>
                                                <span flex>
                                                    <b>{{ inmap[product.inventory_identifier].name }}</b>
                                                    <i>{{ product.inventory_identifier }}</i>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="task-field-container bottom-margin">
                                            <span class="field-label primary-label">Labware to use</span>
                                            <div class="input-item">
                                                <span class="input-amount">
                                                    {{ task.labware_amount }}
                                                </span>
                                                <span flex>
                                                    <b>{{ inmap[task.labware_identifier].name }}</b>
                                                    <i>{{ task.labware_identifier }}</i>
                                                </span>
                                            </div>
                                        </div>

                                        <div ng-repeat="field in task.input_fields"
                                             class="task-field-container bottom-margin">
                                            <span class="field-label primary-label">{{ field.label }}</span>
                                            <div class="input-item">
                                                <span class="input-amount">
                                                    {{ field.amount }} {{ field.measure }}
                                                </span>
                                                <span flex>
                                                    <b>{{ inmap[field.inventory_identifier].name }}</b>
                                                    <i>{{ field.inventory_identifier }}</i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </v-pane-content>
                            </v-pane>
                            <v-pane ng-if="task.output_files.length > 0 || task.output_fields.length > 0">
                                <v-pane-header>Outputs</v-pane-header>
                                <v-pane-content>
                                    <div ng-repeat="field in task.output_fields" flex="33" class="task-field-container bottom-margin">
                                        <span class="field-label primary-label">{{ field.label }}</span>
                                        <div class="input-item">
                                            <span class="input-amount">
                                                {{ field.amount }} {{ field.measure }}
                                            </span>
                                            <span flex>
                                                <b>{{ field.lookup_type }}</b>
                                            </span>
                                        </div>
                                    </div>
                                </v-pane-content>
                            </v-pane>
                        </v-accordion>
                        <div ng-if="equipment_files.length > 0" layout="column">
                            <h4 class="section-header">Equipment/Lab files</h4>
                            <md-button class="md-raised"
                                       ng-href="{{ fileLocationUrl }}{{ f.id }}"
                                       target="_blank"
                                       ng-repeat="f in equipment_files">
                                <md-icon>attachment</md-icon>
                                {{ f.name }}
                            </md-button>
                        </div>
                    </div>
                    <div flex>
                        <v-accordion class="vAccordion--default" multiple>
                            <v-pane ng-if="task.step_fields.length > 0" expanded>
                                <v-pane-header>Steps</v-pane-header>
                                <v-pane-content>
                                    <div ng-repeat="field in task.step_fields" class="task-field-container bottom-margin">
                                        <span class="field-label primary-label">{{ field.label }}</span>
                                        <div ng-repeat="p in field.properties" class="padded">
                                            <span class="field-label">{{ p.label }}</span>
                                            {{ p.amount }}{{ p.measure }}
                                        </div>
                                        <div class="padded">{{ field.description }}</div>
                                    </div>
                                </v-pane-content>
                            </v-pane>
                            <v-pane ng-if="task.variable_fields.length > 0">
                                <v-pane-header>Variables</v-pane-header>
                                <v-pane-content>
                                    <div layout="row" layout-align="start center" layout-wrap>
                                        <div ng-repeat="field in task.variable_fields" flex="50"
                                            class="task-field-container bottom-margin">
                                            <span class="field-label primary-label">{{ field.label }}</span>
                                            <div class="input-item padded">
                                                {{ field.amount }}{{ field.measure }}
                                            </div>
                                        </div>
                                    </div>
                                </v-pane-content>
                            </v-pane>
                            <v-pane ng-if="task.calculation_fields.length > 0">
                                <v-pane-header>Calculations</v-pane-header>
                                <v-pane-content>
                                    <div layout="row">
                                        <div ng-repeat="field in task.calculation_fields"
                                             class="task-field-container bottom-margin"
                                             flex="50">
                                            <span class="field-label primary-label">{{ field.label }}</span>
                                            <gtl-calculation-field is-disabled="isStarted" field="field">
                                            </gtl-calculation-field>
                                        </div>
                                    </div>
                                </v-pane-content>
                            </v-pane>
                        </v-accordion>
                    </div>
                </md-content>
            </md-tab>
            <md-tab 
                ng-disabled="form.$invalid"
                md-on-select="getRequirements()" 
                label="Input items required">
                <md-table-container>
                    <table md-table> 
                        <thead md-head> 
                            <tr md-row>
                                <th md-column>Item name</th> 
                                <th md-column>Identifier</th> 
                                <th md-column>Amount needed</th>
                                <th md-column>Amount available</th>
                                <th md-column>Location</th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row ng-repeat="r in requirements">
                                <td md-cell>{{ r.item.name }}</td>
                                <td md-cell>{{ r.item.identifier }}</td>
                                <td md-cell>{{ r.amount_to_take }} {{ r.amount_measure.symbol }}</td>
                                <td md-cell>{{ r.item.amount_available }} {{ r.item.amount_measure.symbol }}</td>
                                <td md-cell>{{ r.item.location.name }}</td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
            </md-tab>
        </md-tabs>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="cancel()">Cancel</md-button>
        <span flex></span>
        <md-button ng-click="cancelTask()">
            Cancel Task
        </md-button>
        <md-button class="md-primary"
                   ng-click="finishTask()">
            Finish Task
        </md-button>
    </md-dialog-actions>
</md-dialog>
