<md-dialog aria-label="Task" flex="95">
    <form name="form" ng-submit="form.$valid && complete()" novalidate>
        <md-toolbar> 
            <div class="md-toolbar-tools">
                <h2>{{ task.name }}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="task" layout="column">
            <div class="dialog-error-message" ng-if="errorMessage">{{ errorMessage }}</div>
            <md-tabs md-dynamic-height md-border-bottom md-selected="taskPaneSelected">
                <md-tab label="Task setup">
                    <md-content class="md-dialog-content" layout="column" ng-if="!isStarted">
                        <md-input-container>
                            <label>Equipment to use</label>
                            <md-select ng-model="task.equipment_choice">
                                <md-option ng-repeat="e in task.capable_equipment"
                                           ng-selected="$index == 0"
                                           ng-value="e">
                                    {{ e }}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <v-accordion class="vAccordion--default" multiple>
                            <v-pane expanded>
                                <v-pane-header>Inputs</v-pane-header>
                                <v-pane-content>
                                    <div layout="row" flex-wrap ng-show="task.input_files.length > 0">
                                        <div ng-repeat="file in task.input_files" class="task-field-container bottom-margin">
                                            <span class="field-label primary-label">{{ file }}</span>
                                            <md-button ng-disabled="isStarted" ngf-select ng-model="input_files[file]" class="md-raised">
                                               Select file
                                            </md-button>
                                            <p class="input-text">{{ input_files[file].name }}</p>
                                        </div>
                                    </div>
                                    <div layout="row" layout-align="start center">
                                        <div layout="column" flex class="task-field-container bottom-margin">
                                            <span class="field-label primary-label">Input items from products</span>
                                            <div layout="row" class="side-padded">
                                                <md-input-container flex>
                                                    <label>{{ task.product_input }} amount</label>
                                                    <input required ng-model="task.product_input_amount">
                                                </md-input-container>
                                                <span class="input-text">{{ task.product_input_measure }}</span>
                                            </div>
                                        </div>
                                        <div layout="column" flex class="task-field-container bottom-margin">
                                            <span class="field-label primary-label">Labware to use</span>
                                            <div layout="column" class="side-padded top-padded">
                                                <md-checkbox ng-model="task.labware_not_required">Labware is not required for this task</md-checkbox>
                                                <div layout="row">
                                                    <md-input-container
                                                        flex="20"
                                                        ng-hide="task.labware_not_required">
                                                        <label>Labware amount</label>
                                                        <input type="number"
                                                            ng-required="!task.labware_not_required"
                                                            ng-model="task.labware_amount">
                                                    </md-input-container>
                                                    <md-autocomplete
                                                        flex
                                                        md-selected-item-change="setLabwareItem(lwItem)"
                                                        md-selected-item="lwItem"
                                                        md-search-text="lwText"
                                                        md-items="item in filterLabwareItems(lwText, task.labware)"
                                                        md-item-text="item.name"
                                                        md-min-length="0"
                                                        md-select-on-match
                                                        ng-required="!task.labware_not_required"
                                                        ng-hide="task.labware_not_required"
                                                        md-floating-label="Choose {{ task.labware }} from inventory">
                                                        <md-item-template>
                                                            <span md-highlight-text="lwText"
                                                                md-highlight-flags="^i">
                                                                {{ item.identifier }}: {{ item.name }} ({{ item.amount_available }} {{ item.amount_measure }})
                                                            </span>
                                                        </md-item-template>
                                                        <md-not-found>
                                                            There where no items found matching your query in the inventory.
                                                        </md-not-found>
                                                    </md-autocomplete>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div layout="row">
                                        <div ng-repeat="field in task.input_fields" flex="50"
                                            class="task-field-container">
                                            <span class="field-label primary-label">{{ field.label }}</span>
                                            <gtl-input-field
                                                is-disabled="isStarted"
                                                field="field"
                                                calculations="task.calculation_fields">
                                            </gtl-input-field>
                                        </div>
                                    </div>
                                </v-pane-content>
                            </v-pane>
                            <v-pane ng-show="task.step_fields.length > 0">
                                <v-pane-header>Steps</v-pane-header>
                                <v-pane-content>
                                    <div ng-repeat="field in task.step_fields" class="task-field-container bottom-margin">
                                        <span class="field-label primary-label">{{ field.label }}</span>
                                        <gtl-step-field is-disabled="isStarted"
                                            calculations="task.calculation_fields"
                                            field="field">
                                        </gtl-step-field>
                                    </div>
                                </v-pane-content>
                            </v-pane>
                            <v-pane ng-show="task.variable_fields.length > 0">
                                <v-pane-header>Constants</v-pane-header>
                                <v-pane-content>
                                    <div layout="row" layout-align="start center" layout-wrap>
                                        <div ng-repeat="field in task.variable_fields"
                                             class="task-field-container bottom-margin" flex="50">
                                            <span class="field-label primary-label">{{ field.label }}</span>
                                            <gtl-variable-field is-disabled="isStarted" field="field">
                                            </gtl-variable-field>
                                        </div>
                                    </div>
                                </v-pane-content>
                            </v-pane>
                            <v-pane ng-show="task.calculation_fields.length > 0">
                                <v-pane-header>Calculations</v-pane-header>
                                <v-pane-content>
                                    <div layout="row">
                                        <div ng-repeat="field in task.calculation_fields" flex="50"
                                            class="task-field-container bottom-margin">
                                            <span class="field-label primary-label">{{ field.label }}</span>
                                            <gtl-calculation-field is-disabled="isStarted" field="field">
                                            </gtl-calculation-field>
                                        </div>
                                    </div>
                                </v-pane-content>
                            </v-pane>
                            <v-pane ng-show="task.output_files.length > 0 || task.output_fields.length > 0">
                                <v-pane-header>Outputs</v-pane-header>
                                <v-pane-content>
                                    <div layout="row" ng-show="task.output_files.length > 0">
                                        <div ng-repeat="file in task.output_files" flex="50"
                                            class="task-field-container bottom-margin">
                                            <span class="field-label primary-label">{{ file }}</span>
                                            <md-button ng-click="getOutputFile(file)">Get {{ file }} file</md-button>
                                        </div>
                                    </div>
                                    <div layout="row" ng-show="task.output_fields.length > 0">
                                        <div ng-repeat="field in task.output_fields" flex="50"
                                            class="task-field-container bottom-margin">
                                            <span class="field-label primary-label">{{ field.label }}</span>
                                            <gtl-output-field is-disabled="isStarted" field="field">
                                            </gtl-output-field>
                                        </div>
                                    </div>
                                </v-pane-content>
                            </v-pane>
                        </v-accordion>
                    </md-content>
                </md-tab>
                <md-tab 
                    ng-disabled="form.$invalid"
                    md-on-select="getRequirements()" 
                    label="Task run requirements">
                    <md-table-container>
                        <table md-table> 
                            <thead md-head> 
                                <tr md-row>
                                    <th md-column>Item name</th> 
                                    <th md-column>Identifier</th> 
                                    <th md-column>Amount needed</th>
                                    <th md-column>Amount available</th>
                                    <th md-column>Location</th>
                                </tr>
                            </thead>
                            <tbody md-body>
                                <tr md-row ng-repeat="r in requirements">
                                    <td md-cell>{{ r.item.name }}</td>
                                    <td md-cell>{{ r.item.identifier }}</td>
                                    <td md-cell>{{ r.amount_to_take }}{{ r.amount_measure.symbol }}</td>
                                    <td md-cell>{{ r.item.amount_available }}{{ r.item.amount_measure.symbol }}</td>
                                    <td md-cell>{{ r.item.location.name }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </md-table-container>
                </md-tab>
            </md-tabs>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()" class="md-secondary">Cancel</md-button>
            <span flex></span>
            <md-button 
                class="md-primary"
                ng-show="taskPaneSelected == 0"
                ng-disabled="form.$invalid"
                ng-click="taskPaneSelected = 1">
                <md-icon>arrow_forward</md-icon>
                Check task
            </md-button>
            <md-button 
                ng-disabled="form.$invalid || !canStart"
                ng-show="taskPaneSelected == 1"
                ng-click="startTask()"
                class="md-primary">
                <md-icon>play_circle_outline</md-icon>
                Start
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
