<md-toolbar class="md-primary md-hue-1 no-padding">
    <div class="md-toolbar-tools">
        <md-button 
            ng-disabled="!selectedWorkflow"
            ng-click="doTask()">
            <md-icon>ondemand_video</md-icon>
            Task for selected
        </md-button>
        <span flex></span>
        <md-menu>
            <md-button ng-click="$mdOpenMenu()"
                aria-label="More workflow actions"
                class="md-icon-button">
                <md-icon md-menu-origin>more_horiz</md-icon> 
            </md-button>
            <md-menu-content>
                <md-menu-item>
                    <md-button 
                        ng-disabled="!selectedWorkflow"
                        ng-click="addToWorkflow(selectedWorkflow.id)">
                        <md-icon>add</md-icon>
                        Add another product
                    </md-button>
                </md-menu-item>
                <md-divider></md-divider>
                <md-menu-item>
                    <md-button 
                        ng-click="switchWorkflow(selectedWorkflow.id)">
                        <md-icon>call_split</md-icon>
                        Move to another workflow
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button 
                        ng-click="removeFromWorkflow(selectedWorkflow.id)">
                        <md-icon>remove_circle_outline</md-icon>
                        Remove from workflow
                    </md-button>
                </md-menu-item>
                <md-divider></md-divider>
                <md-menu-item>
                    <md-button 
                        ng-click="deleteWorkflow(selectedWorkflow.id)">
                        <md-icon>stop</md-icon>
                        Stop workflow
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>
<div flex ng-show="selectedWorkflow">
    <div class="workflow-preview">
        <h4>Workflow preview</h4>
        <div class="workflow-preview-container">
            <div class="gm-workflow-task-preview" flex 
                ng-repeat="t in workflowTasks.tasks">
                <div class="task-preview-header" layout="row">
                    <span flex></span>
                    <span>{{ $index + 1 }}</span>
                </div>
                <div class="task-preview-content" layout-fill layout="column" 
                    layout-align="center center">
                    <span>{{ t.name }}</span>
                </div>
            </div> 
        </div>
    </div>
    <md-divider class="section-divider"></md-divider>
    <div ng-repeat="item in selectedWorkflow.product_statuses" layout="row" 
        layout-align="center center"
        class="active-workflow-product-container">
        <div class="active-workflow-product" 
            flex="30"
            layout-align="start center"
            layout="row">
            <md-checkbox
                class="no-margin"
                ng-click="toggle(item, selected)"
                ng-checked="exists(item, selected)"
                aria-label="Select {{ item.name }}">
            </md-checkbox>
            <span flex> 
                <b>
                    <a ui-sref="product_details({id: item.product_project, productId: item.product})">
                        {{ item.product_identifier }}
                    </a>
                </b>
                <br>
                {{ item.product_name }}
            </span>
            <md-icon ng-show="item.task_in_progress">play_circle_filled</md-icon>
            <md-icon ng-show="!item.has_task_inputs">warning</md-icon>
        </div>
        <gtl-workflow-task-preview flex
            ng-click="showTask(item, item.task_in_progress)"
            task-number="item.current_task"
            task-count="workflowTasks.tasks.length"
            task="workflowTasks.tasks[item.current_task]"
            current>
        </gtl-workflow-task-preview>
        <gtl-workflow-task-preview flex 
            task-number="item.current_task + 1"
            task-count="workflowTasks.tasks.length"
            task="workflowTasks.tasks[item.current_task + 1]">
        </gtl-workflow-task-preview>
    </div>
</div>
<div ng-show="!selectedWorkflow" class="message">
    No workflows available
</div>
